/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


/**
 * верхнее меню
 */

.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.header-content {
	background-color: rgba(255, 255, 255, 0.1); /* Белый, полупрозрачный фон */
	padding: 20px; /* Добавление отступа для контента */
	backdrop-filter: blur(5px);
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 10px;
}




.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center ;
}
.navbar-menu {
	list-style-type: none;
	padding-left: -0;
	margin-bottom: 0;
}
.navbar-menu li {
	display: inline-block;
}
.navbar-menu li a {
	display: inline-block;
	color: #000;
	opacity: 0.6;        /* Прозрачность */
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;  /* Плавность при наведении */
}
.navbar-menu li a:hover {
	opacity: 1;
}
.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}
.callback {
	margin-left: 20px;
	padding: 10px 30px;
	background-color: #FF0000;
	border-radius: 100px;
	color: black;
	text-decoration: none;
	transition: all .1s ease-in-out;
	box-shadow: 0 4px 6px rgba(235, 52, 52, 0.2);		/* Отступ по x , Отступ по y, Размытость, цвет */
}
.callback:hover {
	color: white;
	transform: scale(1.04);   /* Увеличение кнопки при наведении */
	box-shadow: 0 9px 9px rgba(235, 52, 52, 0.5);;	
}
.navbar-brand {
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: #000;
	transition: all .07s ease-in-out;  /* Плавность при наведении */
	position: relative;
	left: -5%
}
.navbar-brand:hover {
	color: #FF0000;
}

.icon-container {
    display: inline-block;
    
    margin-right: 1px; /* Расстояние между иконкой и текстом */
}

.icon {
    width: 30px; /* Задайте ширину и высоту иконки по вашему усмотрению */
    height: 30px;
}
/*
Основа
*/
.header {
	position: relative;
	min-height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	flex: 1 1 auto;
}
.header-content {
	text-align: center;
	position: relative;
	z-index: 2;
	color: white;
	left: 25%;
}
.header .row {
	min-height: 700px;
	display: flex;
	align-items: center;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
}

.header-content h1 {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 10px;
}
.header-content h2 {
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 10px;
}
.header-content h4 {
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 10px;
	opacity: 0.7;
	margin-bottom: 25px;
	margin-top: 25px;
}
.btn-main {
	display: inline-block;
	padding: 10px 35px;
	font-size: 18px;
	border: 1px solid #f74a4a; 
	background-color: rgba(255, 0, 0, 0.5);
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.9s ease-out;
	color: #fff;
	font-weight: bold;

}
.btn-main:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
	color: #fff;
}
.submit {
	background-color: rgba(255, 0, 0, 0.5);
}




/*
низ
*/
.footer {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	position: relative;
	top: 100%;
	opacity: 0.8;
	margin-top: auto;
}
.lll {
	position: relative;
	left: 20px;
}

